.navigation {
    position: relative;
    color: #d6d2cf;
    background-color: #363232;
}
.navigation__content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    list-style: none;
}
.navigation__item{
    display: inline-block;
}
.navigation__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity .3s ease;
}
.navigation__link,
.navigation__link_hover,
.navigation__link:active,
.navigation__link:focus,
.navigation__link:visited,
.navigation__link_active{
    color: inherit;
    text-decoration: none;
}
.navigation__link:hover{
    opacity: .7;
}
.navigation__title{
    font-weight: 700;
}
.navigation__subtitle{
    font-weight: 300;
}
